# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.so

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE and Editor folders
.vscode/
.idea/

# Virtual Environments
.env
.venv
env/
venv/

# OS
.DS_Store
Thumbs.db
